body {
  color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  font-size: 16px;
}
.container {
  width: 1024px;
}
.bounce-up {
  opacity: 0;
  transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -webkit-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -moz-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -o-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -o-transform: translateY(30px);
}
.bounce-up.in-view {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.bounce-down {
  opacity: 0;
  transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -webkit-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -moz-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -o-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
.bounce-down.in-view {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.bounce-left {
  opacity: 0;
  transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -webkit-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -moz-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -o-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
}
.bounce-left.in-view {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}
.bounce-right {
  opacity: 0;
  transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -webkit-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -moz-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  -o-transition: opacity 1s ease-out 300ms, transform 1s ease-out 300ms;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -o-transform: translateX(30px);
}
.bounce-right.in-view {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}
.navbar {
  background: #ffffff;
  padding: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img {
  height: 75px;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
}
.navbar.small .navbar-brand img {
  height: 55px;
}
.navbar.small .hotline-sm {
  top: 11px;
}
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 15px;
  color: #2d2c2c;
}
.navbar .navbar-nav .nav-link:hover {
  color: #f57b20;
}
.navbar .navbar-toggler {
  border: none;
  outline: none !important;
}
.navbar .hotline {
  background-color: #91bb15;
  color: #ffffff;
  float: right;
  text-align: center;
  width: 210px;
  font-size: 16px;
  margin-left: 20px;
  border-radius: 4px;
  padding: 2px 0;
}
.navbar .hotline .title {
  margin: 0;
  padding: 0 5px;
  font-size: 14px;
  background: #ffffff;
  color: #91bb15;
  border: 2px solid #91bb15;
}
.navbar .hotline .phone {
  margin: 0;
  padding: 0 5px;
}
.navbar .hotline-sm {
  position: absolute;
  top: 21px;
  right: 15px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 4px;
  text-align: center;
  background: #91bb15;
  transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
}
.navbar .hotline-sm i {
  color: #ffffff;
}
.banner {
  padding-top: 75px;
  background-color: #b63024;
}
.banner .banner-bg {
  background-image: url('../images/banner.jpeg');
  background-position: 50%;
  background-size: contain;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
}
.tc-social-btn {
  position: fixed;
  top: 35%;
  right: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-out, transform 0.7s ease-out;
  -webkit-transition: opacity 0.1s ease-out, transform 0.7s ease-out;
  -moz-transition: opacity 0.1s ease-out, transform 0.7s ease-out;
  -o-transition: opacity 0.1s ease-out, transform 0.7s ease-out;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}
.tc-social-btn.display {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.tc-social-btn .social-icon {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 8px 0;
}
.tc-social-btn .social-icon:hover {
  opacity: 0.7;
}
.tc-social-btn .social-icon.facebook {
  background-image: url('../images/facebook-icon.svg');
}
.tc-social-btn .social-icon.phone {
  background-image: url('../images/phone-icon.svg');
}
.tc-social-btn .social-icon.email {
  background-image: url('../images/email-icon.svg');
}
.tc-social-btn .social-icon.youtube {
  background-image: url('../images/youtube-icon.svg');
}
.group-title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.introduction {
  padding: 60px 0 70px;
}
.introduction .intro-bg {
  background-image: url(../images/introduction-bg.jpeg);
  width: 100%;
  height: 100%;
  min-height: 250px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  border-radius: 30px;
}
.introduction .title {
  color: #f57b20;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.introduction .content {
  margin-bottom: 35px;
}
.introduction .content:last-child {
  margin-bottom: 0;
}
.products {
  background-image: url(../images/products-banner.jpeg);
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
.products .products-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 60px 0 40px;
  text-align: center;
}
.products .products-wrapper .group-title {
  color: #ffffff;
  margin-bottom: 15px;
}
.products .products-wrapper .desc {
  color: #e6e6e6;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.6;
}
.products .product {
  background: #ffffff;
  border-radius: 30px;
  margin: 0 auto 30px;
  padding-bottom: 100px;
  position: relative;
}
.products .product:hover .img-over {
  display: block;
}
.products .product:hover .content-box {
  z-index: 2;
  color: #ffffff;
  margin-top: -100px;
}
.products .product:hover .content-box .content {
  display: block;
}
.products .product:hover .content-box .price {
  display: none;
}
.products .img-wrapper {
  position: relative;
  padding: 10px;
}
.products .img-wrapper .product-img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.products .img-over {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(28, 28, 28, 0.2) 30%, rgba(70, 70, 70, 0.7) 40%, rgba(70, 70, 70, 0.8) 45%, #464646 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 26px;
  z-index: 1;
  display: none;
}
.products .content-box {
  transition: margin-top 0.3s;
  margin-top: 0;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
}
.products .content-box .title {
  padding: 5px 0 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.products .content-box .content {
  padding: 5px 25px;
  margin-bottom: 5px;
  display: none;
}
.products .content-box .price {
  color: #bb1a08;
  font-size: 26px;
  padding: 0 0 15px;
  font-weight: bold;
}
.benefits {
  text-align: center;
}
.benefits .benefits-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  padding: 60px 0 50px;
  text-align: center;
}
.benefits .img-wrapper img {
  height: 75px;
  margin-bottom: 25px;
}
.benefits .content h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.benefits .content p {
  color: #444;
}
.customer-reviews {
  background-color: #F3F3F3;
  padding: 60px 0 40px;
}
.customer-reviews .quote {
  text-align: center;
  font-size: 30px;
  margin-bottom: 8px;
  color: #f57b20;
}
.customer-reviews .content {
  padding: 0 25px;
  text-align: center;
}
.customer-reviews .author {
  padding: 0;
  width: 225px;
  margin: 0 auto 25px;
}
.customer-reviews .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin-top: 5px;
}
.customer-reviews .info {
  float: left;
  padding-top: 2px;
  padding-left: 12px;
}
.customer-reviews .info .name {
  font-weight: 600;
  margin-bottom: 0;
}
.customer-reviews .info .role {
  color: #7d7d7d;
}
.recruitment {
  background-color: #F3F3F3;
  font-size: 16px;
}
.recruitment .hotline {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 145px;
  transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
}
.recruitment .navbar.small .hotline {
  top: 12px;
}
.recruit-banner {
  background-image: url(../images/banner-recruitment.jpeg);
  background-position: 50%;
  background-color: #f57b20;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 75px;
}
.jobs-container {
  padding: 10px 0 30px;
}
.jobs-container .job {
  background-color: #ffffff;
  padding: 30px 25px;
  margin-top: 20px;
}
.jobs-container .job .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.jobs-container .job .title a {
  color: #00aeef;
}
.jobs-container .job .items {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}
.jobs-container .job .items li {
  padding-bottom: 8px;
}
.jobs-container .job .items i {
  margin-right: 2px;
  width: 20px;
  text-align: center;
}
.jobs-container .job .btn-detail {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #a0a0a0;
}
.jobs-container .job .btn-detail:hover {
  background: #eaeaea;
}
.jobs-detail-container {
  padding: 20px 0 30px;
  display: none;
}
.jobs-detail-container #returnToSum {
  font-size: 14px;
  font-weight: 600;
}
.jobs-detail-container #returnToSum i {
  margin-right: 8px;
}
.jobs-detail-container .job-detail {
  padding: 20px 0;
}
.jobs-detail-container .job-detail .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #b1b1b1;
}
.jobs-detail-container .job-detail .no-margin {
  margin-bottom: 5px;
}
footer {
  background: #f57b20;
  color: #eae3e3;
}
footer .footer-above .logo {
  height: 160px;
  width: 160px;
}
footer .footer-above .list-inline {
  list-style: none;
}
footer .footer-above .list-inline li {
  font-size: 14px;
  line-height: 30px;
}
footer .footer-above .list-inline li a {
  color: #eae3e3;
  text-decoration: none;
}
footer .footer-above .list-inline li a img {
  opacity: .2;
  transition: .5s ease;
  margin-top: 3px;
  margin-right: 10px;
  width: 32px;
}
footer .footer-above .list-inline li a img:hover {
  opacity: 1;
}
footer .footer-above .list-inline.contact li {
  font-size: 14px;
}
footer .footer-above .list-inline.contact .fa {
  padding-right: 5px;
  text-align: center;
  width: 20px;
}
footer .footer-above .menu-list {
  margin-top: 25px;
}
footer .footer-above .menu-list li a:hover {
  color: #ffffff;
}
footer .footer-above .title {
  margin-top: 30px;
  font-size: 13px;
  font-weight: bold;
}
footer .footer-above .social {
  margin-top: 8px;
  margin-bottom: 25px;
}
footer .footer-above .social li {
  margin-right: 10px;
}
footer .footer-above .social li i {
  font-size: 20px;
  width: 35px !important;
  height: 35px !important;
  padding: 8px 5px;
  background-color: #eae3e3;
  color: #f57b20;
  border-radius: 100%;
}
footer .footer-above .social li i.fa-facebook:hover {
  background-color: #4460A0;
  color: #ffffff;
  transition: .5s ease;
}
footer .footer-above .social li i.fa-youtube-play:hover {
  background-color: #CE1312;
  color: #ffffff;
  transition: .5s ease;
}
footer .footer-below {
  border-top: 1px solid #ecaf81;
  text-align: center;
  font-size: 13px;
  padding: 10px 0;
}
@media (min-width: 1200px) {
  /*
	.benefits {
		background-image: url('../images/dau-phong.jpg'), url('../images/la-chuoi.jpg');	
		background-repeat: no-repeat, no-repeat;
		background-position: left bottom, right top;
		background-size: 210px 140px, 195px 142px;
	}
	*/
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banner .banner-bg {
    height: 300px;
  }
  .benefits {
    background: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.small .hotline {
    top: 13px;
  }
  .navbar .hotline {
    position: absolute;
    top: 25px;
    right: 15px;
    width: 165px;
    transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
  }
  .banner .banner-bg {
    height: 230px;
  }
  .tc-social-btn .social-icon {
    width: 35px;
    height: 35px;
  }
  .products .content-box .title {
    font-size: 18px;
  }
  .products .content-box .price {
    font-size: 24px;
  }
  .customer-reviews .author {
    padding: 0;
    text-align: center;
  }
  .customer-reviews .avatar {
    float: none;
  }
  .customer-reviews .info {
    float: none;
    padding: 5px 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .navbar .hotline {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 130px;
  }
  .banner .banner-bg {
    height: 175px;
  }
  .tc-social-btn {
    display: none !important;
  }
  .introduction .intro-bg {
    width: 70%;
    margin: 0 auto;
    float: none;
    min-height: 350px;
  }
  .introduction .intro-content {
    padding-top: 40px;
  }
  .products .product {
    width: 350px;
  }
  .benefits {
    text-align: left;
  }
  .benefits .img-wrapper {
    width: 30%;
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .benefits .img-wrapper img {
    margin-bottom: 0;
  }
  .benefits .content {
    float: left;
    width: 70%;
    padding: 0 30px 20px 0;
    text-align: left;
    min-height: 120px;
  }
  .customer-reviews .content {
    padding: 0 50px;
  }
  .customer-reviews .author {
    padding: 0;
    width: 250px;
    margin: 0 auto 25px;
  }
  .recruit-banner {
    height: 195px;
  }
  .footer-above {
    text-align: center;
  }
  .footer-above .list-inline li {
    font-size: 18px !important;
    line-height: 48px !important;
    border-bottom: 1px solid #fb9e59;
  }
  .footer-above .list-inline li:last-child {
    border-bottom: none;
  }
  .footer-above .list-inline.menu-list {
    margin-top: 0;
    padding: 0 30px;
  }
  .footer-above .list-inline.social li {
    border-bottom: none !important;
  }
  .footer-above .list-inline.social li:last-child {
    margin-right: 0;
  }
  .footer-above .contact {
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .footer-above .title {
    color: #ffffff;
    font-size: 16px !important;
    margin-top: 20px !important;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  .banner {
    background-color: #9e2c21;
  }
  .banner .banner-bg {
    background-image: url('../images/banner-mobile.jpeg');
    height: 225px;
  }
  .tc-social-btn {
    display: none !important;
  }
  .introduction .intro-bg {
    min-height: 350px;
  }
  .introduction .intro-content {
    padding-top: 40px;
  }
  .products .content {
    min-height: auto;
  }
  .benefits .img-wrapper img {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .benefits .content {
    padding-bottom: 10px;
  }
  .recruit-banner {
    background-image: url(../images/banner-recruit-mobile.jpeg);
    height: 200px;
  }
  .footer-above {
    text-align: center;
  }
  .footer-above .list-inline li {
    font-size: 18px !important;
    line-height: 48px !important;
    border-bottom: 1px solid #fb9e59;
  }
  .footer-above .list-inline li:last-child {
    border-bottom: none;
  }
  .footer-above .list-inline.menu-list {
    margin-top: 0;
    padding: 0 30px;
  }
  .footer-above .list-inline.social li {
    border-bottom: none !important;
  }
  .footer-above .list-inline.social li:last-child {
    margin-right: 0;
  }
  .footer-above .contact {
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .footer-above .title {
    color: #ffffff;
    font-size: 16px !important;
    margin-top: 20px !important;
  }
}
