@media (min-width: 1200px) {
  /*
	.benefits {
		background-image: url('../images/dau-phong.jpg'), url('../images/la-chuoi.jpg');	
		background-repeat: no-repeat, no-repeat;
		background-position: left bottom, right top;
		background-size: 210px 140px, 195px 142px;
	}
	*/
}
